<h1>Recyclers#index</h1>

  <%= button_to "Create New Transaction", new_recyclable_path, :class => "btn btn-primary", :method => :get  %>
<div ng-controller="RecyclerController">
  <div>
    <open-redeemable></open-redeemable>
  </div>
  <div ng-repeat="recyclable in recyclables | filter: {trans_type: 'redeemable'}">
    <div class="redeemable">
      {{recyclable.created_at | date:'MM/dd h:mm'}}:
      Plastic: {{recyclabe.plastic}}
      Glass: {{recyclable.glass}}
      Cans: {{recyclable.cans}}
      Mixed Hi5: {{recyclable.other}}
    </div>
  </div>

  <div>
    <open-samaritan></open-samaritan>
  </div>
  <div ng-repeat="recyclable in recyclables | filter: {trans_type: 'samaritan'} ">
    <div class="samaritan">
      {{recyclable.created_at | date:'MM/dd h:mm'}}:
      <span ng-show='{{recyclable.cardboard}}'>Cardboard</span>
      <span ng-show='{{recyclable.newspaper}}'>Newspaper</span>
      <span ng-show='{{recyclable.magazines}}'>Magazines</span>
      <span ng-show='{{recyclable.paper}}'>Paper</span>
      <span ng-show='{{recyclable.non_hi5_plastic}}'>Non_Hi5_Plastic</span>
      <span ng-show='{{recyclable.non_hi5_glass}}'>Non_Hi5_Glass</span>
      <span ng-show='{{recyclable.non_hi5_cans}}'>Non_Hi5_Cans</span>
    </div>
  </div>
</div><!-- ng-controller -->
