<div class="row">
  <h1>Landing Page</h1>
  <p>Find me in app/views/landing/index.html.erb</p>
</div>
<div class="row">
  <h3>List of users</h3>
 <% @users.each do |user| %>
  <%= user.email %><br>
 <% end  %>
 <h3>Current User</h3>
 <%= current_user.email %>
 <% %>
 <br>
 <% if current_user.profile.blank? %>
    we need a profile
 <% end %>

</div>
