<div class="row">
  <h1>Landing#index</h1>
  <p>This is from desktop page view.</p>
</div>
<div class="row">
<% if current_user.profile.blank? %>
  <h3>New users need to create a profile.</h3>
  <%= link_to "Create Profile", new_profile_path %>
<% end %>
</div>
