<h1>Redeemers#index</h1>
<div ng-controller="RedeemerController">

  <div>
    <available-redeemable></available-redeemable>
  </div>
  <div ng-repeat="transaction in transactions | filter: {trans_type: 'redeemable'}">
    <div class="redeemable">
    <a href="" ng-click="select(transaction)">Select </a>
      {{transaction.address}}, {{transaction.city}}:
      Plastic: {{transaction.plastic}}
      Glass: {{transaction.glass}}
      Cans: {{transaction.cans}}
      Mixed Hi5: {{transaction.other}}
      Posted: {{transaction.created_at | date:'MM/dd h:mm' }}
    </div>
  </div>

  <div>
    <available-samaritan></available-samaritan>
  </div>
  <div ng-repeat="transaction in transactions | filter: {trans_type: 'samaritan'} | filter: {selected: false}">
    <div class="samaritan">
      <a href="" ng-click="select(transaction)">Select </a>
      {{transaction.address}}, {{transaction.city}}:
      <span ng-show="transaction.cardboard" >Cardboard</span>
      <span ng-show="transaction.newspaper" >Newspaper</span>
      <span ng-show="transaction.magazines" >Magazines</span>
      <span ng-show="transaction.paper" >Paper</span>
      <span ng-show="transaction.non_hi5_plastic" >Non_hi5_plastic</span>
      <span ng-show="transaction.non_hi5_glass" >Non_hi5_glass</span>
      <span ng-show="transaction.non_hi5_cans" >Non_hi5_cans</span>
      Posted: {{transaction.created_at | date:'MM/dd h:mm' }}
    </div>
  </div>

  <div>
    <selected-redeemable></selected-redeemable>
  </div>
  <div ng-repeat="transaction in transactions | filter: {trans_type: 'redeemable'} | filter: {selected: true, completed: false}">
    <div class="redeemable_selected">
      {{transaction.address}}, {{transaction.city}}:
      Plastic: {{transaction.plastic}}
      Glass: {{transaction.glass}}
      Cans: {{transaction.cans}}
      Mixed Hi5: {{transaction.other}}
      Selected: {{transaction.created_at | date:'MM/dd h:mm' }}
      <a href="" ng-click="completed(transaction)"> Completed </a>
    </div>
  </div>

  <div>
    <selected-samaritan></selected-samaritan>
  </div>
  <div ng-repeat="transaction in transactions | filter: {trans_type: 'samaritan'} | filter: {selected: true, completed: false}">
    <div class="samaritan_selected">
      {{transaction.address}}, {{transaction.city}}:
      <span ng-show="transaction.cardboard" >Cardboard</span>
      <span ng-show="transaction.newspaper" >Newspaper</span>
      <span ng-show="transaction.magazines" >Magazines</span>
      <span ng-show="transaction.paper" >Paper</span>
      <span ng-show="transaction.non_hi5_plastic" >Non_hi5_plastic</span>
      <span ng-show="transaction.non_hi5_glass" >Non_hi5_glass</span>
      <span ng-show="transaction.non_hi5_cans" >Non_hi5_cans</span>
      Selected: {{transaction.created_at | date:'MM/dd h:mm' }}
      <a href="" ng-click="completed(transaction)"> Completed </a>
    </div>
  </div>

  <input type="hidden" id="center_latitude" value="<%= current_user.profile.latitude %>" />
  <input type="hidden" id="center_longitude" value="<%= current_user.profile.longitude %>" />
  <input type="hidden" id="current_user_id" value="<%= current_user.id %>" />
  <div id="map-canvas"></div>
</div><!-- ng-controller -->
