<!DOCTYPE html>
<html>
<head>
  <title>Hi5</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-9 col-xs-offset-2 col-xs-9">
      <img id="hi5_banner" src="/assets/hi5_banner.png" class="img-responsive" style="width: 60%;"alt="HI5 Banner">
    </div>
  </div>

<%= yield %>

</body>
</html>
